<div class="container">
    
    <div class="col col-md-4">
       <img src="lib/img/about/web-iditec-img-3.png" width="85%" >
    </div>
   
    <div class="col col-md-5">
      <h2>Quienes somos</h2>
      <p>Somos una empresa de transferencia tecnológica y comercialización dedicada  a escalar
      innovaciones producidas por buenas ideas y proyectos tecnológicos exitosos
      transformamos el conocimiento en nuevas innovaciones que aumenten la competitividad 
      de nuestros clientes</p>

      <h4>Misión</h4>

      <h4>Visión</h4>


    </div>

</div>    

