<div class="container">
    
    <div class="col col-md-4">
       <img src="lib/img/about/web-iditec-img-3.png" width="85%" >
    </div>
   
    <div class="col col-md-8" >
      
      <h2 style="font-weight: bold; font-size: 30px;">Quienes somos</h2>
      <p>Somos una empresa de transferencia tecnológica y comercialización dedicada  a escalar
      innovaciones producidas por buenas ideas y proyectos tecnológicos exitosos
      transformamos el conocimiento en nuevas innovaciones que aumenten la competitividad 
      de nuestros clientes.</p>
      <br>
      
      <h4 style="color: #759621; font-weight: bold; font-size: 18px;">Misión</h4>
      	<p>Contribuir con la competitividad, sustentabilidad y generación de valor para toda la sociedad a través de la sofisticación de negocios de manera integral asociando proveedores de conocimiento con las empresas y organizaciones.</p>
      <br>
      <h4 style="color: #759621; font-weight: bold; font-size: 18px;">Visión</h4>
      	<p>Ser la empresa de transferencia tecnológica y comercialización lider en el mercad, enfocada en entregar un servicio de calidad, para que las ideas de nuestros clientes y sus proyectos tecnológicos se transformen en innovaciones aplicables y escalables en el mercado.</p>
      	<br>

    </div>

</div>    

