
<div class="btn-group">
	<button class="inicio" ng-class="{active: isMenu('inicio')}" ng-click="setMenu('inicio')">
		<img src="lib/img/botones/inicio.png">
		
	</button>

	<button class="inicio" ng-class="{active: isMenu('about')}" ng-click="setMenu('about')">
		<img src="lib/img/botones/about.png">
		
		
	</button>

	<button class="inicio" ng-class="{active: isMenu('equipo')}" ng-click="setMenu('equipo')">
		<img src="lib/img/botones/web-iditec-boton-3.png">
		
	</button>

	<button class="inicio" ng-class="{active: isMenu('servicios')}" ng-click="setMenu('servicios')">
		<img src="lib/img/botones/web-iditec-boton-4.png">
		
	</button>

	<button class="inicio" ng-class="{active: isMenu('contacto')}" ng-click="setMenu('contacto')">
		<img src="lib/img/botones/web-iditec-boton-5.png">
		
	</button>

</div>