<div>
	<div class="col col-md-4">
	<img src="lib/img/services/web-iditec-img-5.png" width="100%">
	</div>
	<div class="col-md-8" style="margin-top: 5%;">
		<ul class="list-group">
			<button class="list-group-item list-group-item-action list-group-item-success" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service1')">AREA SUBSIDIO INNOVACIÓN Y FINANCIAMIENTO</button>
			<br>
			<button class="list-group-item list-group-item-action list-group-item-success" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service2')">AREA GAP TECNICO/TECNOLOGICO</button>
			<br>
			<button class="list-group-item list-group-item-action list-group-item-success" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service3')">AREA BACKOFFICE TECNOLOGICO</button>
			<br>
		</ul>
	</div>
</div>