<div class="container">
	<div class="col col-md-4">
	<img src="lib/img/services/web-iditec-img-5.png" width="100%">
	</div>
	<div class="col-md-8" style="margin-top: 5%;">
    	
		
		<ul class="list-group">
			<button class="list-group-item" style="color: #759621;" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service1')">GESTIÓN INTEGRAL DE SUBSIDIOS DE INNOVACIÓN Y FINANCIAMIENTO </button>
			<br>
			
			<button class="list-group-item" style="color: #759621;" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service2')">SISTEMA DE GESTION DE INNOVACION</button>
			<br>
			
			<button class="list-group-item" style="color: #759621;" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service3')">EMPRENDIMIENTO</button>
			<br>
			
			<button class="list-group-item" style="color: #759621;" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service4')">INCENTIVO TRIBUTARIO A LA I+D</button>
			<br>
			
			<button class="list-group-item" style="color: #759621;" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service5')">PROPIEDAD INTELECTUAL</button>
			<br>
			
			<button class="list-group-item" style="color: #759621;" ng-class="{active: isMenu('sub-service1')}" ng-click="setMenu('sub-service6')">FORMACION Y CAPACITACION </button>
			<br>
		</ul>
		
	</div>
</div>