<div>
	<div class="col col-md-6 ">
		<h3>AREA SUBSIDIO INNOVACIÓN Y FINANCIAMIENTO</h3>
		<br>
		<p>Conoce como levantar fondos concursables de CORFO.
		Si tienes una idea y crees que está llevara a tu empresa a ser más competitiva y no conoces como llegar a ese objetivo, nosotros te ayudamos y formulamos tu proyecto para levantar financiamiento.</p>
		<br>
		<p>Subsidios CORFO:</p><br>
		<p>Innovacion en productos y procesos (prototipos) </p>
		<p>Validación y empaquetamiento de innovaciones.</p>
	</div>
	<div class="col col-md-6 ">
		<h4>Conoce la Ley I+D</h4>
	</div>

</div>