<div class="row">
	<br>
	<h4 style="font-weight: bold; color: #759621;">SISTEMA DE GESTION DE INNOVACION</h4>

	<p>Desarrollamos capacidades de Gestión en Innovación para promover una cultura que facilite el proceso de generación de ideas y conocimiento, los cuales se transformaran en proyectos que agreguen valor a su empresa. Estos se basan en normas internacionales de I+D+i como las UNE 160002, las cuales dan las directrices para crear y gestionar un sistema de calidad de I+D+i, sistematizando el proceso innovador y reduciendo la incertidumbre que se genera con proyectos de investigación, desarrollo e innovación (I+D+i).
	</p>

	<h4 style="font-weight: bold; color: #759621;">Servicios IDITEC SpA</h4>
	<p>Asesoría en la instalación de proceso de Gestión de la Innovación dentro de la empresa u organización.</p>

	
</div>