<div>
	<h4>FORMACION Y CAPACITACION</h4>

	<p>Para que la innovación tenga un impacto dentro de las empresas u organizaciones y puedan mejorar sus condiciones para ser más competitivas y productivas se debe implementar una cultura de innovación la cual debe fomentar la participación de todos los miembros de la empresa u organización, fomentar una actitud proactiva, analítica, creativa, sustentable y  global.</p> 

	Es por esto que IDITEC SpA ofrece seminarios y capacitaciones en los siguientes temas;

Capacitación en Cultura de innovación
Capacitación en Innovación empresarial
Capacitación en Innovación Social.
Seminarios


</div>