<div>
	<div class="row">
		
		<div class="col col-md-12 ">
			<br>
			<h4 style="font-weight: bold; color: #759621;"> GESTIÓN INTEGRAL DE SUBSIDIOS DE INNOVACIÓN Y FINANCIAMIENTO </h4>
			<p>Chile para lograr el desarrollo y mejorar la productividad debe fomentar que el sector privado innove, que genere mejores y nuevos productos, procesos, servicios, integre tecnología, y es más, que desarrolle tecnología a través de un fomento tributario de Investigación y Desarrollo (I+D), la ley 20.241.<br>
			Los subsidios públicos suponen una buena alternativa para el financiamiento empresarial, orientando el cofinanciamiento a proyectos de I+D e innovación (I+D+i) en empresas en sus distintas etapas de desarrollo, es por esto que existen diferentes instrumentos de financiamiento, los cuales se orientan y se articulan para ser más flexible el financiamiento donde se requiera.</p>
			<br>
			
			<p style="font-weight: bold;">Subsidios CORFO:</p><br>
			<p>Innovacion en productos y procesos (prototipos) </p>
			<p>Validación y empaquetamiento de innovaciones.</p>
		</div>
		
		<div class="col col-md-8">
			<br>
			<h4 style="font-weight: bold; color: #759621;" >Conoce la Ley I+D</h4>
			
			<p>Podrás reducir tus gastos en inversiones en I+D de manera directa con el crédito del 35% y de manera indirecta pasando el otro 65% como gasto para producir la renta, lo cual se traduce en un beneficio fiscal cercano al 50%. Esta ley complementaria con los demas subsidios de I+D, innovacion y otros, por lo que tu inversión como contribuyente es bastante reducida. No pierdas la oportunidad de hacer crecer tu empresa a través de la innovación, hoy muchas empresas lo están haciendo.</p>

		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<h4 class="proceso" style="font-weight: bold;">Proceso que aplica Iditec</h4>

			<table>
				<tr>
					<th>
						Evaluación de viabilidad de la idea
					</th>
					<th>
						Formulación del Proyecto
					</th>
					<th>
						Adjudicación del Proyecto
					</th>
					<th>
						Seguimiento
					</th>
				</tr>
				
				<tr>
					<td>Buscamos toda la información necesaria para saber si tu idea es única e innovadora con lo cual queda sujeta para ser beneficiario del subsidio que otorga CORFO.</td>
					
					<td>Disponemos de los mejores Project Management para realizar el proyecto.</td>
					
					<td>Una vez realizado solo queda esperar que CORFO apruebe el proyecto.</td>
					
					<td>Luego de la adjudicación, seguimos contigo ayúdandote y asesorando con el proyecto.</td>
				</tr>

			</table>

		
		</div>
	</div>

</div>