<div>
	<div class="row">
		
		<div class="col col-md-6 ">
			<br>
			<h4 style="font-weight: bold;">AREA SUBSIDIO INNOVACIÓN Y FINANCIAMIENTO</h4>
			<p>Conoce como levantar fondos concursables de CORFO.
			Si tienes una idea y crees que está llevara a tu empresa a ser más competitiva y no conoces como llegar a ese objetivo, nosotros te ayudamos y formulamos tu proyecto para levantar financiamiento.</p>
			<br>
			<p style="font-weight: bold;">Subsidios CORFO:</p><br>
			<p>Innovacion en productos y procesos (prototipos) </p>
			<p>Validación y empaquetamiento de innovaciones.</p>
		</div>
		<div class="col col-md-6 ">
			<br>
			<h4>Conoce la Ley I+D</h4>
			<br>
			<p>Podrás reducir tus gastos en inversiones en I+D de manera directa con el crédito del 35% y de manera indirecta pasando el otro 65% como gasto para producir la renta, lo cual se traduce en un beneficio fiscal cercano al 50%. Esta ley complementaria con los demas subsidios de I+D, innovacion y otros, por lo que tu inversión como contribuyente es bastante reducida. No pierdas la oportunidad de hacer crecer tu empresa a través de la innovación, hoy muchas empresas lo están haciendo.</p>

		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
		<h4 class="proceso">Proceso que aplica Iditec</h4>
		</div>
	</div>

</div>